

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    
}


.componente{
    color:rgb(233, 79, 105);
    text-decoration: none;
}

li{
    text-decoration: none;
}