<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <h1>Demo Routing</h1>
    <router-outlet> 
      <header class="sticky">
        <nav class="navegadorPpal">
          <ul>
              <li> <a routerLink="/compo1" class="componente"> Componente 1 </a></li>
              <li><a routerLink="/compo2" class="componente" routerLinkActive="router-link-active">Componente 2 </a></li>
              <li><a routerLink="/compo3" class="componente" > Componente 3 </a></li>
              
          </ul>
            </nav>
      </header>
      
    </router-outlet><!--Destino de los componenntes-->
    <app-footer></app-footer>
    
  
</body>
</html>